body {
    background-color: #fefbfb;
}

.header-title {
    background-color: #354a5e;
    color: white;
}

.hidden {
    display: none !important;
}

.form-container {
    max-width: 800px !important;
}

.container-fluid {
    text-align: center;
    padding-top: 100px;
}

.title {
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    color: lightgray;
}

.card-field-wrapper {
    height: calc(1.5em + .75rem + 2px);
    margin-top: 8px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    margin-bottom: 3px;
    /* padding-top: 8px !important; */
}

.card-label {
    margin-top: 7px;
    font-size: 14px
}

#payment {
    min-height: 80px;
}

.pay {
    border-radius: 25px;
    color: #ffffff;
}

#test-output {
    width: 100%;
    max-width: 500px;
    height: 60%;
    min-height: 200px;
    font-family: Consolas, monaco, monospace;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 12px;
}

.test-buttons-container button {
    font-family: Consolas, monaco, monospace;
    font-size: 12px;
    font-weight: bold;
}

.error-message {
    color: red;
    text-align: left;
    font-size: 80%;
}

.process-result {
    width: 100%;
    height: 90%;
    min-height: 800px !important;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #EEEEFF;
    overflow: auto;
    padding: 10px;
    font-size: 0.9em;
    font-family: monospace;
}

.bg-primary {
    background-color: #2cabe1 !important;
}

.bg-secondary {
    background-color: #eaecee !important;
}

.btn-primary {
    background-color: #2cabe1 !important;
    border-color: #2cabe1 !important;
}

.font-primary {
    color: #2cabe1 !important;
}

legend {
    color: grey;
    font-size: 1rem !important;
}

#payment-form {
    font-size: 0.8rem !important;
}

.form-control {
    font-size: 0.8rem !important;
}

.custom-select {
    font-size: 0.8rem !important;
}

.custom-label {
    font-size: 0.8rem;
    font-weight: bold;
    color: darkgray;
}