:root {
    --ca-blue: #2cabe1;
    --ca-gray: #354a5e; 
  }

body {
    background-color: #fefbfb;
}

.header-title {
    background-color: var(--ca-gray);
    color: white;
}

.hidden {
    display: none !important;
}

.form-container {
    max-width: 800px !important;
}

.title {
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    color: lightgray;
}

.card-field-wrapper {
    height: calc(1.5em + .75rem + 2px);
    margin:0px;
}

#test-output {
    width: 100%;
    max-width: 500px;
    height: 60%;
    min-height: 200px;
    font-family: Consolas, monaco, monospace;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 12px;
}

.error-message {
    color: red;
    text-align: left;
    font-size: 80%;
}

.process-result {
    width: 100%;
    height: 90%;
    min-height: 800px !important;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #EEEEFF;
    overflow: auto;
    padding: 10px;
    font-size: 0.9em;
    font-family: monospace;
}

.bg-primary {
    background-color: var(--ca-blue) !important;
}

.bg-secondary {
    background-color: #eaecee !important;
}

.btn-primary {
    background-color: var(--ca-blue) !important;
    border-color: var(--ca-blue) !important;
}

.font-primary {
    color: var(--ca-blue) !important;
}

legend {
    color: grey;
    font-size: 1rem !important;
}

#payment-form {
    font-size: 0.8rem !important;
}

.form-control {
    font-size: 0.8rem !important;
}

.custom-select {
    font-size: 0.8rem !important;
}

.inactive {
    pointer-events: none;
    opacity: .1;
}

.spinner {
    width: 18px;
    height: 18px;
    display: block;
    color: #ffffff;
}

.spinner:after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 2px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 100%;
    background: transparent;
    animation: spinner-rotate 1s infinite linear;
}

@keyframes spinner-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--ca-blue);
    background-color: var(--ca-blue);
}